.Error {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ErrorContent {
  margin-top: 20px;
  color: gray;
  font-weight: 500;
  font-size: 30px;
}
